<!DOCTYPE html>
<html>
<head> 
  <title>{{ .ProcInfo.GetStatusHeader }} {{ .ProcInfo.GetNodeName }} </title>
  <link rel="stylesheet" type="text/css" href="/statusz.css" />
</head>
<body>
<h1>{{ .ProcInfo.GetStatusHeader }}</h1>
<div class="sts">
  <div class="snm">Node Name</div> <div class="svl">{{ .ProcInfo.GetNodeName }}</div>
  <div class="snm">Pod Namespace</div> <div class="svl">{{ .ProcInfo.GetPodNamespace }}</div>
  <div class="snm">Pod Name</div> <div class="svl">{{ .ProcInfo.GetPodName }}</div>
  <div class="snm">Pod IP</div> <div class="svl">{{ .ProcInfo.GetPodIP }}</div>
  <div class="snm">Status</div> <div class="svl-ok">{{ .ProcInfo.GetServerStatus }}</div>
</div>
<hr>

<form action="/index.html" method="get">
  <b>Check Server Health:</b> Server IP or Service Name <input type="text" name="targetserver"> <input type="submit" value="Submit">
</form>
{{if .TargetHealthzResponse}}
<br>
Server Healthz Response from: {{.TargetUrl}}
<pre>
{{.TargetHealthzResponse}}
</pre>
{{end}}
<hr>
</body>
</html>