html *
{
   font-family: Roboto;
}

h1 {
  padding-top: 3px;
  font-weight: normal;
  text-align: center;
  background-color: #426bb3;
  color: #ffffff;
  padding-bottom: 3px;
  padding-top: 15px;
  }

header h1 {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.sts {
  padding-left: 20px;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(6, 1fr 3fr);
}

.snm {
  text-transform: uppercase;
  text-align: right;
  color: #426bb3;
  padding-right: 10px;
  white-space: nowrap;
}

.svl {
  font-weight: normal;
  white-space: nowrap;
  padding-right: 50px;
}

.svl-ok {
  color: #00a644;
  white-space: nowrap;
}

.svl-warning {
  color: #ff0000;
  white-space: nowrap;
}

.svl-inactive {
  font-weight: bold;
  color: #C53929;
  white-space: nowrap;
}

.warning {
  padding-left: 20px;
  color: #C53929;
}

.degraded {
  color: #757575;
}

.istio {
  color: #426bb3;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

table caption {
  padding-left: 20px;
  font-size: 1.2em;
  color: #000000;
  text-align: left;
}

tr {
   border-top: 1px solid #c0c0c0;
   border-bottom: 1px solid #c0c0c0;
}

thead th:nth-child(1) {
  padding: 8px;
  font-size: 0.9em;
  width: 400px;
  border-top: 1px;
}

thead th:nth-child(2) {
  padding: 10px;
  font-size: 0.9em;
  color: #000000;
  width: 100px;
}

tbody td:nth-child(1) {
  padding: 8px;
  font-size: 0.9em;
  padding-left: 20px;
  color: #000000;
  width: 400px;
}

tbody td:nth-child(2) {
  padding: 8px;
  font-size: 0.9em;
  text-align: center;
  color: #000000;
  width: 100px;
}

tbody tr:hover {
  background: #eff4fd;
}


.logo {
  position: absolute;
  top: 20px;
  left: 10px;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #DD127B;
}

form {
  padding-left: 20px;
}
